@import 'base/var';
// @import 'base/mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-family: 'Playfair Display';
    scroll-behavior: smooth;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.hamburger {
    display: none;
    z-index: 10;
}

span#dots {
    display: none;
}

span#more {
    color: #fff;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    display: block;
}

#myBtn {
    display: none;
}
#uaBtn {
    display: none;
}


@import 'blocks/header';
@import 'blocks/about';
@import 'blocks/title';
@import 'blocks/divider';
@import 'blocks/description';
@import 'blocks/services';
@import 'blocks/girls';
@import 'blocks/interior';
@import 'blocks/info';
@import 'blocks/vacancies';
@import 'blocks/media'; 