.title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: #EBBC86;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: 700;
}